<%- include("partials/header") -%>

<h1>About</h1>

<p><%= aboutContent %></p>

<h2>Our Vision</h2>
<p>Journally was born out of a desire to create a space where individuals from all walks of life can come together to reflect, learn, and grow. We envision a world where journaling is not just a habit, but a transformative practice that empowers individuals to live more intentional and fulfilling lives.</p>

<h2>Why Journally?</h2>
<p>Journally isn't just another journaling app – it's a companion on your journey of self-discovery. With features like customizable prompts, mood tracking, and seamless syncing across devices, Journally makes it easy to cultivate a journaling habit that fits seamlessly into your life.</p>

<h2>Our Commitment</h2>
<p>At Journally, we're committed to creating a safe and inclusive space for all users. We value diversity, empathy, and authenticity, and strive to foster a supportive community where everyone feels welcome to share their stories without fear of judgment.</p>

<h2>Join the Journally Community</h2>
<p>Join thousands of users around the world who have already embraced the power of journaling with Journally. Whether you're a seasoned writer or just starting out, Journally is here to support you every step of the way on your journey of self-discovery.</p>


<%- include("partials/footer") -%>

